body {
    /* background-color: #2B616D; */
    /* background-color: #FFF; */
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h2 {
    font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 550;
}

nav {
    /* background-color: #B2DBD5; */
}

.contact {
    padding: 1%;
    width: 60%;
    margin: 0 auto;
}

.contact-container {
    background-color: black;
    color: white;
    padding: 2%;
}

.content {
    margin: 0 auto;
    margin-top: 100vh;
    /* width: 60%; */
}

.hero {
    /* width: 70%;
    margin: 0 auto;
    margin-top: 56px;
    padding: 1%; */

}

.heroImg {
    width: 100%;
}

.hero-text {
    width: 40%;
}

.hero-video-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.navbar-nav {
    
}

/* class added when user scrolls from top of page */
.not-transparent {
    background-color: white;
}

.project-brief {
    position: absolute;
    right: 0;
    top: 40%;
    width: 50%;
    background-color: white;
    padding: 3%;
    box-shadow: 1px 11px 17px rgba(0, 0, 0, 0.4);
}

.project-btn {
    background-color: #59b7ff;
    width: 35%;
    border-radius: 30px;
}

.project-btns {
    margin: 0 auto;
    font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
}

.project-img {
    width: 60%;
}

.project-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20vh;
    width: 60%;
}

.projects-header {
    background-color: #ececec;
    padding: 3%;
    margin-bottom: 2%;
}

.projects-heading {
    
}

.skill {
    width: 30%;
    /* background-color: salmon; */
    margin-bottom: 20px;
}

.skill-bar {
    width: 100%;
    height: 17px;
    border: 2px solid black;
    border-radius: 5px;
}

.skill-bar-filled {
    height: 100%;
    width: 0;
    background-color: black;
}

.skill-percent {
    float: right;
}

.skill-type {
    margin: 0;
    font-size: 13px;
}

.skills-container {
    width: 60%;
    margin: 0 auto;
    padding: 3%;
}

.skills-heading {
    margin-bottom: 4%;
}

.skills-stretch {
    background-color: #dbc596;
}